@use "./variables.scss" as *;
// put your custom CSS here!
.bases-table th, .bases-table td {
  width: auto !important;
  min-width: 0 !important;
}
.bases-view-meta {
  display: none;
}
.section .meta {
  display: none;
}